<div
  class="w-full bg-blue-50 dark:bg-slate-800/60 rounded-3xl p-4 flex flex-col items-center shadow-sm dark:shadow-slate-900/50"
>
  <!-- Header -->
  <p class="text-2xl font-bold text-slate-700 dark:text-slate-300">Iniciar Sesión</p>
  <!-- Formulario -->
  <div class="relative w-full py-2">
    <form
      autocomplete="on"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col w-full justify-center"
      [class.pointer-events-none]="isFormDisabled()"
    >
      <!-- Inputs -->
      <div class="flex flex-col gap-4">
        <app-input-custom
          type="email"
          formControlName="email"
          name="email"
          label="Correo electrónico"
          placeholder="Ejemplo@gmail.com"
          autocomplete="email"
          [maxlength]="50"
          [noShowErrors]="true"
          [inputMode]="'email'"
        />
        <app-input-custom
          type="password"
          formControlName="password"
          name="password"
          label="Contraseña"
          placeholder="Contraseña"
          autocomplete="current-password"
          [type]="form.get('showPassword')?.value ? 'text' : 'password'"
          [maxlength]="50"
          [noShowErrors]="true"
          [inputMode]="'text'"
        />
        <div class="flex items-center gap-1.5 -mt-1.5 ml-1">
          <app-checkbox-custom
            formControlName="showPassword"
            label="Mostrar contraseña"
          ></app-checkbox-custom>
        </div>

        <!-- Texto de Error -->
        @if (submitted && loginError()) {
          <div
            class="flex flex-wrap justify-center items-center gap-1 p-3 text-center bg-red-50 dark:bg-red-900/20 rounded-xl text-red-600 dark:text-red-400 text-sm font-medium border border-red-100 dark:border-red-800"
          >
            <app-svg-icon icon="error" size="20px"></app-svg-icon>
            {{ loginError() }}
          </div>
          <!-- Texto Informativo -->
        } @else {
          <div
            class="flex justify-center items-center gap-1.5 p-3 text-center bg-slate-50 dark:bg-slate-800/50 rounded-xl text-slate-600 dark:text-slate-300 text-xs sm:text-sm border border-slate-100 dark:border-slate-700"
          >
            <app-svg-icon icon="info" size="20px" class="text-slate-400"></app-svg-icon>
            Ingresa tus credenciales asignadas.
          </div>
        }
      </div>

      <!-- Boton Ingresar-->
      <div class="mt-6">
        <button
          [disabled]="form.invalid || isFormDisabled()"
          type="submit"
          class="relative w-full h-12 sm:h-14 bg-blue-600 text-white rounded-xl shadow-md hover:bg-blue-700 hover:shadow-lg transition-all disabled:opacity-50 disabled:cursor-not-allowed font-semibold tracking-wide flex justify-center items-center overflow-hidden"
        >
          @if (isLoading()) {
            <div class="absolute inset-0 flex items-center justify-center">
              <div
                class="animate-spin block size-6 border-3 border-current border-t-transparent text-white rounded-full"
                role="status"
                aria-label="loading"
              ></div>
            </div>
            <span class="opacity-0 text-lg">Ingresando...</span>
          } @else {
            <span class="text-lg">Acceder al Sistema</span>
            <app-svg-icon icon="login" size="20px" class="ml-2"></app-svg-icon>
          }
        </button>
      </div>

      <!-- Ayuda -->
      <div class="mt-6 text-center">
        <p class="text-xs text-slate-500 dark:text-slate-400">
          ¿Problemas para ingresar? <br />
          <a
            href="mailto:support@example.com"
            class="text-primary font-medium hover:underline mt-1 inline-block"
            >Contacta al Administrador</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
